// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$social-fb-name: 'social-fb';
$social-fb-x: 0px;
$social-fb-y: 0px;
$social-fb-offset-x: 0px;
$social-fb-offset-y: 0px;
$social-fb-width: 20px;
$social-fb-height: 20px;
$social-fb-total-width: 40px;
$social-fb-total-height: 40px;
$social-fb-image: './src/assets/sprite.png';
$social-fb: (0px, 0px, 0px, 0px, 20px, 20px, 40px, 40px, './src/assets/sprite.png', 'social-fb', );
$social-tw-name: 'social-tw';
$social-tw-x: 20px;
$social-tw-y: 0px;
$social-tw-offset-x: -20px;
$social-tw-offset-y: 0px;
$social-tw-width: 20px;
$social-tw-height: 20px;
$social-tw-total-width: 40px;
$social-tw-total-height: 40px;
$social-tw-image: './src/assets/sprite.png';
$social-tw: (20px, 0px, -20px, 0px, 20px, 20px, 40px, 40px, './src/assets/sprite.png', 'social-tw', );
$social-vk-name: 'social-vk';
$social-vk-x: 0px;
$social-vk-y: 20px;
$social-vk-offset-x: 0px;
$social-vk-offset-y: -20px;
$social-vk-width: 20px;
$social-vk-height: 20px;
$social-vk-total-width: 40px;
$social-vk-total-height: 40px;
$social-vk-image: './src/assets/sprite.png';
$social-vk: (0px, 20px, 0px, -20px, 20px, 20px, 40px, 40px, './src/assets/sprite.png', 'social-vk', );
$spritesheet-width: 40px;
$spritesheet-height: 40px;
$spritesheet-image: './src/assets/sprite.png';
$spritesheet-sprites: ($social-fb, $social-tw, $social-vk, );
$spritesheet: (40px, 40px, './src/assets/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
