include mixins/mixin
block vars

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title
            block title

        // build:css css/vendor.min.css
        // bower:css
        // endbower
        // endbuild

        link(rel="stylesheet" href="css/main.min.css")

    body(class=bodyClass)
        .wrapper
            block content


        block globalScripts
        // build:js js/vendor.min.js
        // bower:js
        // endbower
        // endbuild

        // build:js js/main.min.js
        block localScripts
        // endbuild
